<!DOCTYPE html>
<html>
  <head>
    <title>Kudo1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# <% if @current_user %> 
        <%# ðŸ‘ <%=@current_user.username%>  
        <%# <% else %> 
        <%# <%= link_to "Sign Up", "/signup"%> 
        <%# <%= link_to "Log in ", "/login"%> 

        <%# <%end%>
    <%= yield %>
  </body>
</html>
